{% extends "base.html" %}
{% load staticfiles %}


{% block content %}


    {% if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Spotify Song Recommender</h1>
                        <div class="row">
                            <div class="col-md-6">

                                <iframe src="https://open.spotify.com/embed/user/{{ chosen_playlist.playlist_owner }}/playlist/{{ chosen_playlist.playlist_id }}"
                                        width="500" height="600"
                                        frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                            </div>
                            <div class="col-md-6">


                                <div class="container-fluid row ">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 button-holder">
                                                <div class="ajax-button">
                                                    <div class="fa fa-check done"></div>
                                                    <div class="fa fa-close failed"></div>
                                                    <a href="
                                        {% url "spotify_app:recommendations" chosen_playlist.playlist_id %}">
                                                        <input id="submit" class="submit" type="button"
                                                               value="Get recommendations"/></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            {% if script_ran %}
                                                {% for rec in recs %}
                                                    {% if rec.recommended_user == active_user %}
                                                        <button type="button"
                                                                class="btn btn-success">
                                                            {{ rec.song_name }}
                                                            -
                                                            {{ rec.artist_name }}
                                                        </button>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Spotify Song Recommender</h1>
                        <p class="lead">Please log in to your Spotify account to get song recommendations</p>
                        <p class="lead">
                            <a class="btn btn-success btn-lg" href="{% url "social:begin" "spotify" %}"
                               role="button">Log in with Spotify</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}